In [12]:
def highest_number(num1, num2, num3):
    if num1 > num2 and num1 > num3:
        return num1
    elif num2 > num1 and num2 > num3:
        return num2
    else:
        return num3

highest_number(100,150,1500)

1500

In [10]:
x=1
while x <= 10:
    print(x)
    x = x + 1

1
2
3
4
5
6
7
8
9
10

Write a while loop that adds all the numbers up to 100 (inclusive)

In [8]:
count = 0
total = 0
while count <= 100:
    total = total + count
    count += 1
print(total)

5050

write while loop that prints the multiples of 5 between 1 and 50.

In [2]:
count = 1
multiples = 5
while multiples <= 50:
    print(multiples)
    count += 1
    multiples = count * 5

5
10
15
20
25
30
35
40
45
50

In [9]:
def print_numbers(n):
    x = 1
    while x <= n:
        print(x)
        x += 1
print_numbers(10)

1
2
3
4
5
6
7
8
9
10

In [10]:
def print_numbers(n):
    x = 2
    while x <= n:
        print(x)
        x += 2
print_numbers(10)

2
4
6
8
10

In [ ]:
def reverse_digits(n):
    
    if n < 0:
        print("None")
    
    forward = ""
    backward = ""

In [1]:
for n in range(12,37,6):
    print(n)

12
18
24
30
36

In [3]:
for x in range(0,19, 2):
    print(x)

0
2
4
6
8
10
12
14
16
18

In [4]:
for x in range(1, 11):
    print(x**3)

1
8
27
64
125
216
343
512
729
1000

In [5]:
for x in range(0,101, 7):
    print(x)

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98

In [1]:
name = 'Daniel'
age = '38'

In [3]:
print('He is ' + name, 'aged ' +  age)

He is Daniel aged 38

In [5]:
color = 'black' * 5

In [6]:
print(color)

blackblackblackblackblack

In [7]:
len(color)

25

In [9]:
word = 'He is Daniel aged 38'

In [10]:
word[0]

'H'

In [21]:
word[-14:]

'Daniel aged 38'

In [22]:
words = 'He is Deniel aged 38'

In [27]:
words[:7] + 'a' + words[8:]

'He is Daniel aged 38'

In [28]:
wordz = "supercalifragilisticexpialidocious"

In [33]:
wordz.index('x')+ wordz.index('f')

30

In [ ]:
words = 'He is Deniel aged 38'

In [ ]:
" ".join(["This","is","a","sentence"])

In [2]:
words = ("This is a lesson about lists")
new_word = words.split()

In [3]:
print(new_word)

['This', 'is', 'a', 'lesson', 'about', 'lists']

In [4]:
len(new_word)

6

In [5]:
new_word[3]

'lesson'

In [11]:
# This function will accept an integer variable "end" and count by 10
# from 0 to the "end" value.
def count_by_10(end):
    # Initializeq the "count" variable as a string.
    count = ""

    # The range function parameters instruct Python to start the count  
    # at 0 and stop at the variable given as the upper end of the range. 
    # Since the value of the high end of a range is excluded by default,  
    # you can make Python include the "end" value by adding +1 to it. 
    # The third parameter tells Python to increment the count by 10.
    for number in range(0,end+1,10):
        
        # Although the variable "count" will hold a count of integers,  
        # this example will be converted to a string using "str(number)" 
        # in order to display the incremental count from 0 to the "end" 
        # value on the same line with a space " " separating each 
        # number.  
        count += str(number) + " "
    # The .strip() method will trim the final space " " from the end of 
    # the string "count"  
    return count.strip()

# Call the function with 1 integer parameter.
print(count_by_10(100))
# Should print 0 10 20 30 40 50 60 70 80 90 100

0 10 20 30 40 50 60 70 80 90 100

In [14]:
def even_number(n):
    x = 2
    while x <= n:
        print(x)
        x += 2

In [15]:
even_number(20)

2
4
6
8
10
12
14
16
18
20